html
	head
		link(href='https://fonts.googleapis.com/css?family=Open+Sans',rel='stylesheet',type='text/css')
		link(rel="stylesheet", href="{{ url_for('visual_algo_app.static',filename='./css/style.css') }}")
	body
		header Sorting Visualizer
		.chart
			.chart-grid
		.control-panel(id="control-panel")
			.controls
				button(id='sortBtn') Sort
				button(id='randomBtn') Random
				button(id='reverseBtn') Reverse
				.selector(id="bar-selector")
					span(class="selector-title")
						|Number of bars
					span(class="incrementor more" id="more-bars")
					span(class="incrementor less" id="less-bars")
					span(class="display-num",id="bar-num") 0
				.selector(id="value-selector")
					span(class="selector-title")
						| Maximum value
					span(class="incrementor more" id="more-value")
					span(class="incrementor less" id="less-value")
					span(class="display-num",id="value-num") 0
				.selector(id="speed-selector")
					span(class="selector-title")
						| Sort delay time (ms)
					span(class="incrementor more" id="more-speed")
					span(class="incrementor less" id="less-speed")
					span(class="display-num",id="speed-num") 0
			.sort-method-options
				.radio-input
					input(type="radio", id="bs", name="sort-method",value="bubbleSort",checked)
					label(for="bs") 
						| BubbleSort
						span
							span

				.radio-input
					input(type="radio", id="cs", name="sort-method",value="cocktailSort")
					label(for="cs") 
						| CocktailSort
						span 
							span
				.radio-input
					input(type="radio", id="is", name="sort-method",value="insertionSort")
					label(for="is") 
						| InsertionSort
						span 
							span
				.radio-input
					input(type="radio", id="ms", name="sort-method",value="mergeSort")
					label(for="ms") 
						| MergeSort
						span 
							span
		script(src="{{ url_for('visual_algo_app.static',filename='./js/model.js') }}")
		script(src="{{ url_for('visual_algo_app.static',filename='./js/controller.js') }}")
		script(src="{{ url_for('visual_algo_app.static',filename='./js/view.js') }}")
		script(src="{{ url_for('visual_algo_app.static',filename='./js/main.js') }}")